.p-notification__response {
  padding: 0.5rem;
  border: 1px solid #666;
  margin-bottom: 1.5rem;
}

.p-notification--caution .p-notification__response {
  border-color: #f99b11;
}

.p-notification--positive .p-notification__response {
  border-color: #0e8420;
}

.p-notification--negative .p-notification__response {
  border-color: #c7162b;
}

.p-notification--important .p-notification__response {
  border-color: #335280;
}

.p-notification__status {
  font-weight: bold;
}
